@import url('https://fonts.googleapis.com/css?family=Saira');

* {
    box-sizing: border-box;

}
button {
    background: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    padding: 15px 32px;

}
body {
    background: url("nflfieldlogo.jpeg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    text-align: center;
    box-shadow: inset 0 0 0 1000px rgba(33, 32, 2, 0.44);
    font-family: 'Saira', sans-serif;
    margin: 0;
    padding: 0;

}
#football {

      height: 16vw;
      animation: mymove 1.5s forwards;
      position: relative;


}
@keyframes mymove {
    0%   {top: 0px;}
    100% {top: 20px;}
  }
#football img {
    height: 16vw;
}
#football p {
  margin-top: -9.5vw;
  font-size: 1.5vw;
  margin-left: 2.5vw;
}
h1,
p {
    text-align: center;
    color: #FBF8F2;
}
h1 {
    font-size: 4vw;
}
p {
    font-size: 24px;
}
.video-click p {
    color: #F18C08;
    font-size: 32px;
}
.team-logo img {
    padding: 5px;
    height: 60px;
    width: 60px;
    transition: all .5s;
}
img.active {
    height: 80px;
    transform: rotate(720deg);
}
.text {
    clear: both;
}
.record {
    padding: 20px 0 20px 0;
    border-top: 1px solid black;
    background-color: #085EB4;
}
.record:hover {
    background: #B40808;
}
.record:active {
    background: #B4B408;
}
.player {
    font-weight: bold;
    font-size: 20px;
}
.description {
    font-style: italic;
}
.icons {
    display: block;
}
.icons::after {
    content: " ";
    display: block;
    height: 65vh;
}
.north,
.south,
.east,
.west {
    float: left;
    width: 25%;
    text-align: center;
}
iframe {
  width: 100vw;
  height: 100vw;
}


@media only screen and (min-width: 640px) {
    img {
        width: auto;
        height: 70px;
    }
    .icons::after {
        height: auto;
    }
    .north,
    .south,
    .east,
    .west {
        float: none;
        display: inline;
        width: 100%;
    }
}
