* {
  box-sizing: border-box;
}

body {
  background-color: rgba(47, 94, 72, 0.37);
}
h1, p {
  text-align: center;
  color: rgba(194, 9, 37, 0.91);
}

.pictures {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.arrested {
  text-align: center;
  width: 50%;
  height: 300px;
  float: left;
  border: 1px solid #333;

}

.team-logo img {
  padding: 5px;
  height: 50px;
  width: 50px;
  transition: all .5s;
}

img.active {
  height: 60px;
  transform: rotate(720deg);
}

.team-logo {
  background-color: rgba(105, 104, 103, 0.64);
}

.record {
  padding: 20px 0 20px 0;
  border-top: 1px solid #333;
  background-color: rgba(47, 94, 72, 0.37);
}

.record:hover {
  background: rgba(198, 137, 66, 0.81);
}

.record:active {
  color: rgba(189, 110, 19, 0.96);
}

.player {
  font-weight: bold;
  font-size: 20px;
}

.description {
  font-style: italic;
}

.team-logo {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.team-logo::before,
.team-logo::after {
  display: table;
  content: '';
}

.team-logo::after {
  clear: both;
}

.north, .south, .east, .west {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.north, .south, .east, .west {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {


  /* 1.5 columns, 1.5/12 in % */
  .north, .south, .east, .west {
    width: 12.5%;
  }
}
