* {
  box-sizing: border-box;
}

html {
  background-image: url("nflfieldlogo.jpeg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
h1, p {
  text-align: center;
  color: white;
}

.team-logo img {
  padding: 5px;
  height: 70px;
  width: 70px;
  transition: all .5s;
}

img.active {
  height: 60px;
  transform: rotate(720deg);
}

.record {
  padding: 20px 0 20px 0;
  border-top: 1px solid #333;
  background-color: rgb(76, 114, 38);
}

.record:hover {
  background: rgb(127, 191, 63);
}

.record:active {
  color: rgb(76, 114, 38);
}

.player {
  font-weight: bold;
  font-size: 20px;
}

.description {
  font-style: italic;
}

.team-logo {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.team-logo::before,
.team-logo::after {
  display: table;
  content: '';
}

.team-logo::after {
  clear: both;
}

.north, .south, .east, .west {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.north, .south, .east, .west {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 640px) {


  /* 1.5 columns, 1.5/12 in % */
  .north, .south, .east, .west {
    width: 12.5%;
  }
}
